@import 'variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
}
