import { remoteAppsConfig, siteConfig } from '../types';

export const site: siteConfig = {
  title: 'My App title',
}

export const remoteApps: remoteAppsConfig = {
  apps: [
    {
      name: 'App Name',
      url: 'https://example-url.com',
      icon: require('../config/icons/icon-nameOfIcon.svg'),
    },
  ]
};
